

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin: 0;
    background-color: #f4f4f4;
    font-size: 16px;
  }

 #calculator{
    
    margin: auto;
    background-color: rgb(71, 62, 62);
    border: 2px solid #000;
    padding: 1%;
    
 }
 
 #display, #rowOne, #rowTwo, #rowThree, #rowFour, #rowFive{
    
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #inputfield{
    max-width: 400px;
    width: 100%;
    height: 70px;
    font-size: 50px;
    padding: 0 1%;
    margin: auto 0.5%;
 }
 
 
button {
    font-size: 20px;
    flex: 2 10 100%;
    margin: 2px;
    cursor: pointer;
    border: 1px solid #000;
    height: 50px;
    border-radius: 15px;

}
