* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;

}

body {
    padding: 0;
    margin: 0;

}

#calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 110px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(28, 27, 27);
    border-radius: 15px;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
button:hover {
    background-color: hwb(32 62% 7%);
}
#equal {
    grid-column: span 2;
}
#clear {
    grid-column: span 2;
}

#display {
    grid-column: 1 / -1;
    font-size: 3rem;
    background-color: rgb(244, 240, 236);
    display: flex;
    align-items: flex-end;
    
}